@import url('https://fonts.googleapis.com/css?family=Anton|Courgette|Indie+Flower|Roboto&display=swap');
@import "~ngx-toastr/toastr.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body {
    min-height: 100vh;
    height: auto;    
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    scrollbar-face-color: #000000 !important;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1; 
}

a, a:hover {
    text-decoration: none;
    cursor: pointer;
}

a, a:hover, div  {
    transition: all.6s ease;
    -ms-transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}
