<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="warn"
      internalLogFile="D:/Projects/appstore2/AppStore/AppStore.DataAccessLayer/Logs/InnerLog.txt">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="PathToFile" value="D:/Projects/djelato/Djelato/Djelato.DataAccess/Logs"/>

  <!-- define various log targets -->
  <targets async="true">
    <!-- write logs to file -->
    <target name="logfile" xsi:type="File" fileName="D:/Projects/djelato/Djelato/Djelato.DataAccess/Logs/${shortdate}_log.txt" layout="${longdate} ${level:uppercase=true} ${message}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" final="true"/>
  </rules>

</nlog>