#confirm-form {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: auto; 
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#confirm-form p {
    color: #00218f;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#confirm-form button {
    margin-top: 20px;
}

::ng-deep .mat-fab.mat-accent{
    background-color: #09dd1b !important;
}