#signup-box {
    width: 640px;
    height: auto;
    border: 2px solid #00218f;
    border-radius: 10px;
    margin: 10px auto;
    background-color: aliceblue;    
}

.form-name {
    padding-top  : 25px;
}

.form-name p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 1.5em;
    color: #00218f;
}

hr {
    width: 200px;
    text-align: center;
    border: 0;
    border-bottom: 5px solid #00218f;
    border-radius: 5px;
    text-shadow: none;
}

@media (max-width: 700px) {
    #signup-form hr {
        width: 150px;
    }
}

.singup-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media(max-width: 900px) and (min-width: 500px ) {
    #signup-box {
        width: 400px;    
    }

    .singup-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 499px) {
    #signup-box {
        width: 280px;    
    }

    .singup-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#image-section { 
    width: 300px;
    height: auto;
    padding: 20px;
}

#image-section p {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 1.2em;
    color: #00218f;
    margin: 10px 0px;
}

#imageInput {
    display: none;
}

#button-select-file {
    width: 90px;
    margin: auto;
}

#imageButton {
    color: white; 
}

::ng-deep #avatar-button {
    background: black !important;
    color: white !important;
    width: 90px;
    border-radius: 10px;
}

::ng-deep #avatar-button:hover {
    background: #a8b9f1 !important;
    color: #00218f !important;
}

.imagePreview {
    width: 200px;
    margin: 30px auto;  
}

.imagePreview img {
    width: 200px;
    height: auto;
}

#fields-section {
    padding: 20px;
}

.server-error-message {
    color: #f44336;
    font-size: 14px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.form-to-submit {
    margin: 20px 0;
}

.form-input-position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

::ng-deep .example-full-width{
  width: 350px !important;
}

@media(max-width: 900px) and (min-width: 500px ) {
    ::ng-deep .example-full-width{
        width: 350px !important;
      }
}

@media (max-width: 499px) {
    ::ng-deep .example-full-width{
        width: 250px !important;
    }
}

::ng-deep input {
    color: black !important;
    font-family: 'Courgette', cursive;
    font-weight: 500px;
    font-size: 20px !important
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #00218f !important;
}
  
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #00218f !important;
}

.form-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 519px) {
    .form-input-button {
        flex-direction: column;
    }
}

.form-input-button button {
    margin: 0 20px;
    margin-top: 40px;
}

