.background-fone {
    height: 100%;
    width: 100%;
}
  
#signin-form {
    width: 500px;
    height: 560px;
    border-radius: 10px;
    margin: auto;    
}

.form-name {
    padding-top  : 25px;
}

.form-name p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 1.5em;
    color: #00218f;
}

#signin-form hr {
    width: 200px;
    text-align: center;
    border: 0;
    border-bottom: 5px solid #00218f;
    border-radius: 5px;
    text-shadow: none;
}

.server-error-message {
    color: #f44336;
    font-size: 12px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

#signin-form .form-to-submit {
    margin: 20px 0;
}

.form-input-position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

::ng-deep .example-full-width{
  width: 400px !important;
}

::ng-deep input {
    color: black !important;
    font-family: 'Courgette', cursive;
    font-weight: 500px;
    font-size: 20px !important
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #00218f !important;
}
  
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #00218f !important;
}

.form-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form-input-button button {
    margin: 0 20px;
    margin-top: 40px;
}

