<div class="background-fone">
    <div id="signin-form" class="forms">
        <p>Registration form</p>

        <hr class="form-hr"/>

        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Repeat password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email">
            </mat-form-field>

            <input type="submit" value="click me"/>
        </form>
    </div>

    
</div>
