<header>
    <div id="header-time">
     <span>{{todayDate | date:'mediumDate'}}</span>
   </div>
 
   <div id="menu">
       <button class mat-icon-button class="mat-menu-content" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
         <mat-icon>menu</mat-icon>
       </button>
       <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
         <button mat-menu-item class="mat-menu-item">
             <a  (click) = "createDialog()" routerLinkActive="active">Sign up</a>
            </button>
     </mat-menu>
   </div>
 
   <div id="header-name">
     <p>Djelato</p>
   </div>
 </header>