<div id="email-page-body">

    <div id="block-email-title">
        <div id="title">
            <p>
                <strong>Glad to see you in our site</strong><br/>
                <span>To use our services, first confirm your mail</span> 
            </p>    
            <button 
                mat-raised-button 
                color="primary" 
                type="button" 
                (click) = 'openDialog()' >
                Confirm
            </button>     
        </div>

        <div id="block-image">
            <img src="assets/hello.png" alt="hello Image" />
        </div>        
    </div>
</div>

